.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.main-product-image .js-image-zoom__zoomed-image {
  left: 200px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.main-product-image img {
  width: 100% !important;
  height: 500px !important;
}

.other-product-images {
  background-color: white;
  padding: 20px;
}

.other-product-images > div {
  width: 48%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-details{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.main-product-details .border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-product-details h3.title{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 10px;
}

.main-product-details p.price{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.description-wrapper h4 {
  font-size: 26px;
  color: var(--color-1c1c1b);
}

.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}

.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
  margin-bottom: 10px;
}

.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p {
  font-size: 14px;
  color: var(--color-777777);
}
