/* .wishlist-card{
    background-color: white;
} */

.wishlist-card .close-icon{
    cursor: pointer;
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
}

.wishlist-content h5.title{
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: var(--color-1c1c1b);
}

.wishlist-content h6.price{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}